@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #E3E3E3;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 320px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.close-icon {
    width: 16px;
    height: 16px;
}

.card-content {
    text-align: center;
    margin-top: 20px;
}

.card-ornament1 img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.card-ornament2 img {
    width: 320 px;
    height: auto;
    margin: 0 5px;
}

.card-title {
    font-size: 64px;
    color: #000000;
    font-weight: bold;
    margin: 20px 0;
}

.card-text {
    font-size: 14px;
    line-height: 200%;
    color: #615D5D;
}

